<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script type="text/javascript" charset="utf-8" src="js/echarts.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/jquery-1.10.2.min.js"></script>
    <link href="css/main.css" rel="stylesheet"/>
    <title>采集站信息</title>
</head>
<body>
    <div class="main">
        <ul>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie0"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie1"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie2"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie pie-right" id="pie3"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
        </ul>
        <ul>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie4"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie5"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie6"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie pie-right" id="pie7"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
        </ul>
        <ul>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie8"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie9"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie" id="pie10"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie pie-right" id="pie11"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
        </ul>
        <ul>
            <li class="par-pie" data-info="">
                <div class="pie pie-last" id="pie12"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie pie-last" id="pie13"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie pie-last" id="pie14"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
            <li class="par-pie" data-info="">
                <div class="pie pie-last pie-right" id="pie15"></div>
                <b class="icon none">
                    <i>设备编号：<span></span></i>
                    <img src="image/icon.gif" />
                </b>
            </li>
        </ul>
    </div>
    <script src="js/main.js" charset="utf-8" type="text/javascript"></script>
</body>
</html>